// Import page-specific CSS files here.
@import "home";
.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.card {
  box-shadow: 2px 2px 5px 1px rgba(0,0,0,.1);
}

.details {
  background-color: rgba(0,0,0,.1);
  padding: 10px;

}

.icon-list {
  padding-left: 0px;
}

.icon-list li {
  display: inline-block;
}

.more-info {
  background-color: white;
  padding: 10px;
}

.navbar {
  background-color: rgba(0,0,0,.1);
  height: 70px;
  padding: 10px;
  display: flex;
  justify-elements: space-between;
  color: black
}

